button {
  border-radius: 5px;
  background-color: transparent;
  border: solid 2px;
  cursor: pointer;
  margin-top: 0.5em;
}

input {
  border-radius: 5px;
  border: solid 1px #ccc;
}

textarea {
  border-radius: 5px;
  border: solid 1px #ccc;
}

label {
  margin-top: 0.5em;
}

.comments-container p {
  white-space: pre-line;
}

.blog-post {
  transition: all ease-in 150ms;
  border-radius: 5px;
}

.blog-post:hover {
  box-shadow: 0 0 4px lightgray;
}